# <div style="text-align:center; border-radius:30px 30px; padding:13px; color:white; margin:0; font-size:100%; font-family:Pacifico; background-color:#1c4f9e; overflow:hidden"><b>Car Price Prediction with Linear Regression</b></div>

In this project, we aim to use linear regression to predict car prices based on a dataset provided by Kaggle. The analysis explores the relationship between various car features and their corresponding prices to develop an accurate predictive model.

In [2]:
#load Packages
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv("Dataset/car_detail.csv")

In [4]:
df.head()

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

In [6]:
df.describe()

,Price,Year,Kilometer,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
count,2.059000e+03,2059.000000,2.059000e+03,1995.000000,1995.000000,1995.000000,1995.000000,1946.000000
mean,1.702992e+06,2016.425449,5.422471e+04,4280.860652,1767.991980,1591.735338,5.306266,52.002210
std,2.419881e+06,3.363564,5.736172e+04,442.458507,135.265825,136.073956,0.822170,15.110198
min,4.900000e+04,1988.000000,0.000000e+00,3099.000000,1475.000000,1165.000000,2.000000,15.000000
25%,4.849990e+05,2014.000000,2.900000e+04,3985.000000,1695.000000,1485.000000,5.000000,41.250000
50%,8.250000e+05,2017.000000,5.000000e+04,4370.000000,1770.000000,1545.000000,5.000000,50.000000
75%,1.925000e+06,2019.000000,7.200000e+04,4629.000000,1831.500000,1675.000000,5.000000,60.000000
max,3.500000e+07,2022.000000,2.000000e+06,5569.000000,2220.000000,1995.000000,8.000000,105.000000

In [7]:
df.isna().sum()

Make                    0
Model                   0
Price                   0
Year                    0
Kilometer               0
Fuel Type               0
Transmission            0
Location                0
Color                   0
Owner                   0
Seller Type             0
Engine                 80
Max Power              80
Max Torque             80
Drivetrain            136
Length                 64
Width                  64
Height                 64
Seating Capacity       64
Fuel Tank Capacity    113
dtype: int64

In [8]:
df.shape

(2059, 20)

In [13]:
#Delete row with NaN
df_clean = df.dropna(subset = ['Engine','Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height', 'Seating Capacity', 'Fuel Tank Capacity'])

In [14]:
df_clean.isna().sum()

Make                  0
Model                 0
Price                 0
Year                  0
Kilometer             0
Fuel Type             0
Transmission          0
Location              0
Color                 0
Owner                 0
Seller Type           0
Engine                0
Max Power             0
Max Torque            0
Drivetrain            0
Length                0
Width                 0
Height                0
Seating Capacity      0
Fuel Tank Capacity    0
dtype: int64

In [16]:
df['Model'].unique().sum()

'Amaze 1.2 VX i-VTECSwift DZire VDIi10 Magna 1.2 Kappa2Glanza GInnova 2.4 VX 7 STR [2016-2020]Ciaz ZXiCLA 200 Petrol SportX1 xDrive20d M SportOctavia 1.8 TSI Style Plus AT [2017]Terrano XL (D)Elite i20 Sportz 1.2Kwid 1.0 RXT [2016-2019]Ciaz Alpha Hybrid 1.5 AT [2018-2020]Harrier XZ [2019-2020]Polo GT TSICelerio ZXi AMT [2019-2020]Alto 800 LXi (O)Baleno Alpha AutomaticWagon R ZXi 1.2 AMTCreta 1.6 E PetrolS-Presso VXi AMTVento Comfortline Petrol ATSantro Sportz AMT [2018-2020]Venue SX 1.0 (O) Petrol [2019-2020]Alto LXi CNGRitz Zxi BS-IVCreta 1.6 SX Plus PetrolBrio V MTElite i20 Asta 1.2WR-V VX MT PetrolVenue SX 1.0 Turbo iMTCreta 1.6 SX Plus ATEcosport Titanium+ 1.0L EcoBoostCR-V 2.4 ATSantro GL (CNG)Tiago Revotron XE [2016-2019]Tigor Revotorq XTInnova 2.4 G 8 STR [2016-2017]GLC 220 d ProgressiveCreta SX 1.6 CRDi (O)M-Class ML 250 CDICorolla Altis VL AT PetrolA4 2.0 TDI (177bhp) Premium PlusSLK-Class SLK 200 KThar CRDe 4x4 ACBaleno Delta 1.2Celerio VXi AMTCiaz VDi SHVSCiaz VXiCreta SX Plus 1.6 AT CRDICreta SX Plus 1.6  PetrolKwid 1.0 RXT AMT OptHector Sharp 2.0 Diesel [2019-2020]Tiago Revotron XZA [2017-2019]Innova 2.5 GX BS IV 7 STRX3 xDrive 20d Luxury Line [2018-2020]Compass Limited Plus 2.0 Diesel 4x4 ATScorpio SLE BS-IVBrio S MT3-Series 320i Luxury LineCity V Petrol [2017-2019]Polo Highline1.2L (D)Vitara Brezza ZXi PlusEeco 7 STR [2019-2020]Grand i10 Asta AT 1.2 Kappa VTVT [2013-2016]X3 xDrive20dFortuner 2.8 4x2 AT [2016-2020]Civic 1.8S MTA4 2.0 TDI (143 bhp)Swift ZXi Plus AMTElite i20 Sportz 1.5 MT DieselA3 35 TDI Technology + SunroofCity V CVT Petrol [2017-2019]Figo Duratorq Diesel Titanium 1.4Jazz VX PetrolPolo Highline1.2L (P)Amaze 1.5 SX i-DTECCamry 2.5L ATThar LX 4-STR Hard Top Petrol ATC-Class 250 CDI EleganceQ3 35 TDI quattro Premium PlusBaleno Sigma 1.2X1 sDrive20d xLineBaleno Zeta 1.2Vento Comfortline PetrolC-Class 220 BlueEfficiencyCamry HybridDZire VXiTerrano XV D THP 110 PSWagon R LXI CNGVitara Brezza LDi (O) [2016-2018]X5 xDrive30d Pure Experience (5 Seater)GLC 220 d SportCayenne Coupe Platinum EditionC-Class Cabriolet C 300Elite i20 Magna 1.2Verna 1.6 VTVT SXAmaze 1.2 SX i-VTECCorolla Altis 1.8 GElite i20 Sportz 1.2 (O)A6 2.0 TDI PremiumXUV300 W8 (O) 1.5 DieselSwift ZDi PlusThar LX 4-STR Hard Top Petrol MTCity 1.5 S MTE-Class E 250 CDI AvantgardeFortuner 3.0 4x2 ATZest XM 75 PS DieselRapid Ambition 1.6 MPI AT PlusAlto 800 LxiErtiga VDiSantro GL LPGFigo Duratorq Diesel ZXI 1.4Harrier XZ PlusElite i20 Asta (O) 1.0 Turbo DCTSwift DZire VXIGrand i10 Sportz 1.2 Kappa VTVT [2013-2016]Nexon EV XZ PlusCreta SX (O) 1.4 Turbo 7 DCT Dual Tone [2022-2022]Q2 Premium Plus I 40 TFSI quattroQ7 45 TDI Premium PlusVerna Fluidic 1.6 CRDi SXWagon R VXI5-Series 520d SedanScorpio 2.6 Turbo 7 StrGrand i10 Magna 1.2 Kappa VTVT [2013-2016]Ritz VXI BS-IVQ5 45 TFSI Premium PlusDuster RXS 1.5 Petrol MTCreta SX 1.6 AT PetrolCompass Limited (O) 2.0 Diesel [2017-2020]Verna EX 1.6 CRDi [2017-2018]i20 Magna 1.2A6 35 TDI MatrixMarazzo M2 8 STRSeltos HTX Plus 1.5 Diesel [2020-2021]Baleno Alpha 1.2E-Class E 220d Expression [2019-2019]Ertiga ZDI + SHVSVerna Fluidic 1.6 VTVT SXDiscovery Sport SGLE 250 dXcent S 1.2 (O)S-Class Maybach S 500Hector Sharp 1.5 DCT Petrol [2019-2020]Astor Sharp 1.5 CVTDuster 85 PS RxLGrand i10 Sportz (O) 1.2 Kappa VTVT [2017-2018]City VC-Class C 200 AvantgardeElite i20 Asta 1.4 (O) CRDiFabia Elegance 1.6 MPIRapid 1.5 TDI CR Ambition Plus ATSonet GTX Plus 1.0 DCT [2020-2021]XUV500 W11 AT3-Series 320d Luxury LineGLA 200 CDI SportWagon R VXiA6 35 TDI PremiumScorpio VLX 2WD BS-IVFortuner 3.0 4x4 MTEcosport Titanium+ 1.5L TDCiQ7 3.0 TDI quattro Premium PlusC-Class C 250 dS-Presso VXiScorpio S5 2WD 7 STRHector Sharp 2.0 Diesel Turbo MTSwift VDi BS-IVSwift ZDiCity VX (O) MTInnova 2.5 G4 7 STRDuster 110 PS RxL DieselQ3 2.0 TDI quattro PremiumM-Class 350 CDIV40 Cross Country D35-Series 530d M Sport [2013-2017]X5 xDrive 30d M SportCity 1.5 S ATC-Class 200 CGIE-Class E350 CDI AvantgardeM-Class ML 350 CDIi20 Magna 1.4 CRDIRapid Style ATNexon XMA PetrolSwift DZire ZDISonet GTX Plus 1.5 AT [2020-2021]Rapid Monte Carlo 1.6 MPI MTRS5 4.2 CoupeGrand i10 NIOS Magna AMT 1.2 Kappa VTVTR-Class R350 4MATICInnova 2.4 G 7 STR [2016-2017]Kwid RXT OptA6 2.0 TFSi Technology PackSafari XZA Plus 6S Adventure NewRitz Vdi BS-IVBrio EX MTScorpio S9 2WD 7 STRInnova 2.8 GX AT 7 STR [2016-2020]Amaze VX CVT 1.2 PetrolCompass Longitude Plus 2.0 Diesel 4x4 ATLevante DieselCayenne TurboInnova GX 2.4 AT 7 STRX5 xDrive 30dFortuner 3.0 MTQ7 35 TDI Premium + SunroofWagon R LXi 1.0 CNG [2019-2020]Alto VXi (O)Ciaz VXi (O)Swift VDi AMT [2018-2019]C-Class C 43 AMGE-Class E250 CDI BlueEfficiencyNexon XZA Plus PetrolAlto 800 VxiXUV500 W8Mobilio S DieselPunch Creative iRA Pack MTGrand i10 Magna 1.2 Kappa VTVT [2017-2020]Baleno Alpha 1.3F-Pace PrestigeRange Rover Sport SE 2.0 PetrolFortuner 3.0 4x4 ATKwid 1.0 RXT EditionX1 sDrive20d ExpeditionWagon R LXi MinorElite i20 Asta 1.2 AT3-Series 320dXUV500 W10Cayenne DieselTerrano XL D PlusThar LX 4-STR Hard Top Diesel ATDiscovery Sport HSE 7-Seater5-Series 525d SedanGlanza G CVTCreta 1.6 SX Plus AT PetrolMU-X 4x2Alto VXiCorolla Altis G AT Petroli10 Sportz 1.2 AT Kappa2Hexa XE 4x2 7 STRi10 Sportz 1.2GLS 350 dQ3 2.0 TDI quattro Premium PlusPolo Comfortline 1.2L (P)XE Prestige DieselSafari 4x2 EX TCICQ3 35 TDI Premium + SunroofAlto LXi BS-IIIXF 3.0 V6 Premium LuxuryVerna Fluidic 1.6 VTVT SX OptVitara Brezza VDi5-Series 520d Luxury Line [2017-2019]Amaze 1.5 S i-DTECHarrier XZA Plus Dual Tone911 Carrera 4Wagon R LXI CNG (O)Ciaz Delta 1.3 HybridTucson GL 2WD AT PetrolPolo 1.2 TDIi20 Sportz 1.2V40 D3 KineticJazz V AT PetrolS-Class S 350D [2018-2020]Jazz S3-Series 320d Luxury EditionEvoque HSE DynamicXylo D2 BS-IVVenue SX 1.5 CRDiScorpio S11 4WD 7 STRSwift VXiCompass Limited (O) 1.4 Petrol AT [2017-2020]Swift VDiWR-V S MT PetrolVento TSIDuster RXL PetrolFiesta Style Diesel [2011-2014]5-Series 530i Sport LineSafari 2.2 EX 4x2Seltos GTX Plus AT 1.4 [2019-2020]Cayenne Platinum Edition DieselX5 xDrive30d xLineEcosport Trend 1.5 TDCiGrand i10 NIOS Magna 1.2 Kappa VTVTElite i20 Sportz 1.4Elantra 1.8 SX MTSwift Lxi (O) [2014-2017]Thar AX 4-STR Convertible Petrol MTSwift VXi [2014-2017]DZire VDi5-Series 520d M SportWagon R VXI+Vitara Brezza ZDi PlusSwift DZire LXiLinea Emotion 1.4City ZX CVT PetrolTucson GLS 2WD AT PetrolInnova 2.7 VX 7 STR [2016-2020]TT 2.0 TFSI QuattroTiago Revotron XTA [2017-2019]City E [2013-2016]Alto 800 Vxi (Airbag)Nexon XZ Plus Dark EditionEcosport Ambiente 1.5L TDCiJazz SV Petroli10 Sportz 1.2 Kappa2Amaze 1.2 VX AT i-VTECC-Class C 200 Progressive [2018-2020]Grand i10 NIOS Sportz 1.2 Kappa VTVT CNGXcent E Plus CRDiEvoque SE R-DynamicAstor Sharp EX 1.5 MTGrande GXInnova 2.0 VEtios Liva VD Dual ToneCity SV DieselScorpio S10Superb L&K TSI ATi20 Active 1.4 SXCiaz Zeta 1.4 ATE-Class E 220d Exclusive [2019-2019]Thar AX 6-STR Soft Top Diesel MTCity S DieselBaleno Alpha 1.2 ATCelerio X Zxi AMT [2017-2019]Wagon R LXI ABSBaleno Delta 1.2 ATKiger RXT Turbo CVTWagon R VXi 1.0 [2019-2019]E-Class 200 K ClassicEon 1.0 Kappa Magna + [2014-2016]S-Class 350 LS-Presso VXi CNGInnova 2.4 VX 8 STR [2016-2020]Seltos GTX Plus AT 1.5 Diesel [2019-2020]Creta SX (O) 1.5 Petrol CVT [2020-2022]Rapid Ambition 1.6 TDI CR MTElite i20 Asta 1.2 (O) [2016]Innova 2.5 G 8 STR BS-IIISuperb L&K TDI ATAlto 800 Lxi CNGFigo Duratec Petrol Titanium 1.2DZire VXi AMTCelerio ZXi (O) AMT [2019-2020]Grand i10 Sportz U2 1.2 CRDiE-Class E250 Elegance3-Series 330i M Sport EditionCity SVS-Class Maybach S 560XUV500 W8 1.99 [2016-2017]CLA 200 D Urban SportXcent SX 1.1 CRDiWagon R LXi CNGKodiaq Style 2.0 TDI 4x4 ATHexa XTA 4x2 7 STREcosport Titanium 1.5L TDCiCLA 200 CDI SportInnova 2.4 ZX AT 7 STRCountryman Cooper DDZire ZDi Plus AMTScorpio S3 2WD 7 STRManza Aqua Safire BS-IVXL6 Alpha MT PetrolAspire Titanium1.5 TDCi718 Cayman [2017-2020]Verna 1.6 VTVT SEon 1.0 Kappa Magna AirBagGrand Vitara 2015 2.0 ATGLE 300d 4MATIC LWBTUV300 T8 AMT mHAWK100City V DieselS-Class 300GLC 220d 4MATIC Progressive3-Series 320d Sport LineCity VX CVT Petrol488 GTBTiguan Highline TDIEvoque Pure SD4Zen LXi BS-IIGLE 43 4MATIC [2017-2019]Nano BaseBolero SLX 2WDE-Class E 220 d AvantgardeS-Cross Zeta 1.3Pajero 2.5 MTSwift ZXiQ3 35 TDI PremiumVento Highline Plus 1.2 (P) AT 16 AlloyEndeavour Titanium 3.2 4x4 ATTiago Revotron XT [2016-2019]Go DSeltos HTK Plus 1.5 [2019-2020]C-Class C 250 CDI BlueEFFICIENCYHuracan LP 610-4GLA 200 d SportC-Class C 220d Progressive [2018-2019]Elite i20 Sportz 1.2 MTEstilo VXi BS-IVEon Era +Alto VXi (O) [2014-2019]7-Series 730Ld M SportXUV500 W7 [2018-2020]Endeavour 3.0L 4x4 ATTucson 2WD AT GLS DieselEtios VFortuner 3.0 4x2 MTCiaz Alpha 1.4 MTS-Cross Alpha 1.6Polo Highline1.0L (P)Amaze 1.2 S i-VTECA4 35 TDI TechnologyEcosport Trend 1.5 Ti-VCTGLS 400d 4MATICHarrier XZA Plus Dark Edition5-Series 520d Luxury LineGL-Class 350 CDINexon XT Diesel [2017-2019]Scorpio VLX 4WD BS-IIIGloster Savvy 6 STR 2.0 Twin Turbo 4WDSwift DZire VXiRedigo S 1.0 AMT [2018-2019]Venue SX Plus 1.0 Turbo DCTSwift LXi Special EditionTUV300 T8Innova 2.5 G 7 STR BS-IVXUV500 W6Elite i20 Asta 1.4 CRDI [2016-2017]Vento Highline Petrol ATDZire VDi AMTSonet GTX Plus 1.0 iMT [2020-2021]S-Class 500LE-Class E 200 Exclusive [2019-2019]Santro SportzRange Rover 3.0 V6 Diesel VogueCooper D 3 DoorEndeavour Titanium Plus 3.2 4x4 ATDuster 110 PS RXZ 4X2 AMT DieselVitara Brezza VDi AGSSeltos HTX 1.5 [2020-2021]Eeco 5 STR WITH A/C+HTR [2019-2020]S-Cross Alpha 1.3Elite i20 Sportz 1.4 CRDIFluence 1.5 E4Grand i10 Sports Edition 1.2L Kappa VTVTKodiaq L&K 2.0 TDI 4x4 ATA3 35 TDI Premium + SunroofGrand i10 NIOS Sportz AMT 1.2 Kappa VTVTFortuner 2.8 4x2 MT [2016-2020]A4 30 TFSI Technology PackJazz V PetrolGLC 200 ProgressiveA4 2.0 TDI SlineCelerio ZXi [2017-2019]Thar LX 4-STR Hard Top Diesel MTEon Magna [2011-2012]Vitara Brezza ZDi+ Dual Tone [2017-2018]XUV700 AX 7 Diesel AT 7 STRWagon R LXi (O) 1.0 CNG [2019-2020]Elite i20 Sportz 1.2 IVTCity 1.5 V MTFortuner 4x2 ATVerna Fluidic 1.6 CRDii20 Active 1.2 SVento Trendline DieselXL6 Zeta MT PetrolSeltos GTX Plus 1.4 [2020-2021]Alto VXi AMTTigor EV XZ PlusQ7 Technology 55 TFSIXUV500 W10 ATPolo Comfortline 1.2L (D)X1 sDrive20i xLineCity E DieselMicra XV CVT [2016-2017]Venue SX 1.4 CRDiTiguan AllSpace 2.0 TSICreta SX 1.6 AT CRDiA-Class A 200dCreta EX 1.4 CRDiS-Class S 350 CDIVerna SX Plus 1.6 CRDi ATAlcazar Signature (O) 6 STR 2.0 Petrol ATAmaze 1.2 V CVT Petrol [2018-2020]Ertiga VXI CNGAmaze 1.2 S MT Petrol [2018-2020]E-Class E 200Evoque SEQ5 2.0 TDI quattro Premium PlusXUV300 1.5 W6 [2019-2020]XF Prestige Diesel CBUC-Class C200 ProgressiveCompass Model S (O) Diesel 4x4 ATEtios Liva GDi10 Asta 1.2 AT with SunroofScorpio VLX 2WD Airbag BS-IVRange Rover Sport SDV6 HSECity ZX CVT Petrol [2017-2019]A4 1.8 TFSI Multitronic Premium PlusCruze LTZ ATCreta SX 1.6 CRDiErtiga VDI SHVSSonata 2.0 CRDiInnova 2.8 ZX AT 7 STR [2016-2020]Amaze 1.5 VX CVT DieselInnova ZX 2.7 AT 7 STRAspire Titanium 1.2 Ti-VCTCiaz Delta 1.5 DieselCelerio VXiUrban Cruiser Premium Grade ATCreta E Plus 1.4 CRDIA3 35 TDI Premium PlusXUV500 W8 AWD [2015-2017]i10 1.1L iRDE ERA Special EditionVerna Fluidic 1.6 VTVT SX ATBolero Power Plus ZLX [2016-2019]A4 2.0 TDI (177bhp) PremiumA3 35 TDI PremiumGrand i10 Asta 1.2 Kappa VTVTA3 40 TFSI Premium Plus + sunroofBrio E MTC-Class C 220 CDI AvantgardeE-Class E 350 d Exclusive [2017-2019]XF R 5.0 V8 SuperchargedPajero SFX 2.8Etios GMarazzo M6 Plus 8 STRA6 3.0 TDI quattro PremiumInnova 2.5 VX 7 STR BS-IIIFortuner 2.8 4x4 AT [2016-2020]Go T (O)Cruze LTZCreta SX 1.4 Turbo 7 DCTV40 D3 R-DesignCooper STUV300 T6 PlusCreta 1.6 SXDZire ZXiTiago Revotron XZC-Class 220 CDI ATGloster Sharp 6 STR 2.0 Twin Turbo 4WDE-Class E220 CDI Blue EfficiencyVitara Brezza ZDiA6 2.0 TDI Premium PlusCity VX CVTSantro Magna [2018-2020]Scorpio S11 2WD 7 STRGrand i10 Sportz 1.2 Kappa VTVT [2016-2017]City ZX DieselE-Class E250 CDI AvantgardeSunny XV DieselEcosport Titanium 1.5L Ti-VCTA4 30 TFSI Premium PlusCreta SX 1.6 (O) Petrol718 BoxsterCreta SX 1.5 Diesel [2020-2022]XUV500 W6 2013GLC 220d 4MATIC Progressive [2019-2021]Wagon R VXI+ AMTRange Rover Sport SDV6 SESwift ZXi AMT [2018-2019]Creta 1.6 SX (O)Discovery Sport HSE Luxuryi20 Active 1.2 SXSafari XZ PlusOctavia 1.8 TSI Ambition Plus ATCreta SX 1.6 CRDIVitara Brezza VDi (O) [2016-2018]Eeco 5 STR WITH HTR CNG [2018-2019]i20 Sportz 1.2 (O)XJ 3.0 Petrol7-Series 730Ld DPETucson GL 2WD AT Dieseli20 Sportz 1.4 CRDIEvoque Dynamic SD4Ertiga Vxi CNGGrand i10 Asta 1.2 Kappa VTVT [2013-2016]Corolla Altis 1.8 G ATCity 1.5 EXiSwift LXiCiaz Delta 1.4 MTOctavia 1.8 TSI L&KDiscovery Sport SE R-Dynamic PetrolKwid RXT [2015-2019]Etios GDPanamera 3.0 DieselA-Class Sedan 200dElite i20 Magna 1.4 CRDI [2016-2017]S-Class 350Estilo VXiElite i20 Magna Executive 1.2Scorpio LX BS-IIIRexton RX7X5 3.0dAmaze 1.2 S i-VTEC OptQ7 45 TDI Technology PackElantra 1.6 SX ATA4 Premium Plus 40 TFSIGrand i10 Asta 1.2 Kappa VTVT (O) [2013-2017]Rapid Elegance 1.6 MPI ATQ7 35 TDI Premium Plus + Sunroof5-Series 520d Sport LineDuster 85 PS RxL Diesel6-Series GT 630d Luxury Line [2018-2019]Commuter HiAce 3.0 LCompass Limited 2.0 Diesel [2017-2020]Baleno Alpha (O) 1.2Swift DZire ZXIPolo Trendline 1.0L (P)Celerio LXiCorolla Altis GLCiaz ZDi SHVSWagon R LXi LPGScorpio S2City 1.5 V ATCompass Limited 1.4 Petrol AT [2017-2020]Ciaz ZXI+Corolla Altis 1.8 VL ATA6 Technology 45 TFSIXC60 Inscription [2017-2020]Jetta 1.9L TDIScorpio S6 Plus 1.99 [2016-2017]Endeavour Titanium 2.0 4x2 ATXcent SX CRDiRexton RX6City VXX3 xDrive-20d xLineRedigo T(O) 1.0 [2017-2019]i10 Magna 1.1 LPGi20 Asta 1.4 AT with AVNCreta SX Plus 1.6 CRDI Dual Tone3-Series 320d PrestigeMagnite XLCelerio ZXi [2019-2020]Seltos HTK Plus 1.5 DieselSantro EraRange Rover Sport SDV6 SIgnis Zeta 1.2 AMTSafari 2.2 VX 4x2Punto Active 1.3Q3 30 TDI Premium FWDC-Class C 300d AMG lineGLA 200 SportCity VX CVT Petrol [2017-2019]S-Cross Sigma 1.3XUV700 AX 7 Diesel AT AWD Luxury Pack 7 STRA7 Sportback 3.0 TDI quattroSwift DZire LDIVenue SX (O) 1.0 Turbo iMTC-Class 220 CDI SportSwift DZire ZDI AMTVento Highline DieselCity V PetrolGhost 6.5Q3 35 TDI Technology with NavigationPolo Comfortline 1.5L (D)Nexon XMVerna 1.6 CRDI SXDiscovery Sport SE R-DynamicTeana 250XLCity S PetrolFigo Trend 1.5L TDCi [2015-2016]Glanza VE-Class E 200 AvantgardeAlcazar Prestige 7 STR 1.5 DieselSanta Fe 2WD AT [2014-2017]Wagon R VXi 1.2Innova 2.4 ZX 7 STR [2016-2020]NX 300h Luxury [2017-2020]Innova ZX 2.4 AT 7 STRElite i20 Sportz 1.2 [2016-2017]Duster 110 PS RxLTaigun Highline 1.0 TSI ATi20 Active 1.4 SHector Plus Sharp 1.5 DCT Petrol3-Series 320d Sport Line [2014-2016]Discovery HSESanta Fe 4 WD (AT)Q5 2.0 TDI quattro PremiumHarrier XZThar CRDe 4x4 Non ACVento Highline PetrolA3 35 TFSI Premium PlusMustang GT Fastback 5.0L v8DZire ZXi Plus AMTRapid Style 1.6 MPI ATSuperb Elegance 1.8 TSI ATXylo D4LX SUV PetrolS60 Kinetic D4Macan S [2019-2020]Macan Base [2019-2020]Baleno Zeta 1.2 ATEeco 5 STR [2014-2019]Ertiga LXI3-Series 320d Highline SedanS-Class 280 ATA3 35 TDI Premium Plus + SunroofCompass Sport 1.4 Petroli20 Asta 1.2Compass Longitude (O) 2.0 Diesel [2017-2020]Swift DZire VXI ATDiscovery 3.0 TDV6 HSEi20 Magna (O) 1.25-Series 520d Modern LineQ3 35 TDI TechnologySeltos GTX Plus 1.4 DCTElantra SX (O) 2.0 ATAccent ExecutiveQ5 35 TDI Premium PlusS-Presso VXi PlusES 300h Exquisite [2020-2021]Swift DZire LXI (O)Civic 1.8V MTQ3 35 TDI quattro TechnologyS-Presso VXi (O)Countryman Cooper S JCW InspiredInnova 2.7 ZX AT 7 STRAmaze 1.5 VX i-DTECScorpio S4 1.99 [2016-2017]Grand i10 Magna AT 1.2 Kappa VTVTEeco 5 STR WITH A/C+HTR CNG [2017-2019]Swift ZXi Plus [2018-2019]Eeco 7 STR STD (O)Eon SportzEcosport Titanium 1.5 Ti-VCTDuster 110 PS RXZ 4X2 MT DieselGLE 350 dAlto VXi [2014-2019]Yaris V CVT2 Series Gran Coupe 220d M Sport [2020-2021]Polo GT TDITiago Revotron XM (O) [2016-2019]Scorpio LX BS-IV7-Series 730LdDiscovery 2.0 HSE 4WD DieselIkon DuraTorq 1.4 TDCiCooper D 5 DoorVellfire HybridCelerio ZXiElantra 1.8 SX ATDuster 85 PS RXS 4X2 MT DieselCelerio VXi [2019-2020]Seltos HTK Plus 1.5 iMTXJ 3.0 V6 PortfolioVerna 1.6 CRDI SX (O)Verna Fluidic 1.6 VTVT SX Opt ATQ8 CelebrationX4 xDrive30d M Sport X [2019-2020]City VX (O) MT BLHarrier XZA PlusCompass Model S (O) 1.4 Petrol DCT5-Series 525d Luxury PlusX6 xDrive40i M SportXL6 Alpha AT PetrolTigor XZA PlusCreta E Plus 1.6 PetrolCiaz Alpha Hybrid 1.5 [2018-2020]XUV500 W11Elite i20 Magna 1.2 [2016-2017]Elite i20 Asta 1.2 IVTA4 2.0 TDI (143bhp)Creta 1.4 S PlusVenue SX (O) 1.5 CRDiGo Plus TAmaze 1.2 S CVT Petrol [2018-2020]Baleno Delta 1.3Kushaq Style 1.0L TSI MTVerna 1.6 VTVT SX (O)Pajero Select Plus ATElite i20 Sportz 1.4 CRDI [2016-2017]Creta SX (O) 1.5 Diesel [2020-2022]Yaris J CVT [2018-2020]Endeavour Trend 2.2 4x2 ATCiaz VDi+ SHVSDuster 110 PS RxZ DieselEndeavour Sport 2.0 4x4 ATKushaq Style 1.0L TSI ATMobilio RS DieselGhost Extended WheelbaseSantro Sportz CNG [2018-2020]C-Class 220 CDI Elegance AT3-Series 320d Luxury Line [2014-2016]S-Cross Delta 1.6Compass Longitude (O) 1.4 Petrol AT [2019-2020]Discovery Sport SESwift DZire ZDi BS-IVCiaz VDi (O) SHVSWR-V S MT DieselCreta 1.6 SX Plus Special EditionSX4 ZDIVerna SX Plus 1.6 VTVT ATi10 MagnaES 300hX5 xDrive 30d ExpeditionTUV300 T10GLA 200 CDI StyleRange Rover 3.0 V6 Diesel Vogue LWBHector Sharp 1.5 DCT Petrol Dual ToneErtiga VDi 1.3 DieselDiscovery Sport HSE Luxury 7-SeaterXF Portfolio DieselGrand i10 Asta AT 1.2 Kappa VTVT (O) [2016-2017]Hector Plus Smart 1.5 DCT PetrolCity SV CVTBaleno Zeta 1.3XJ 3.0 PortfolioAlto 800 Lx CNGPolo Trendline 1.2L (P)Santro GLSCreta 1.6 S Plus ATA8 3.0 TDI quattroJazz V DieselQ7 3.0 TDI quattro PremiumEon Magna +Evoque SE DynamicRedigo T(O) 1.0Grand i10 Magna 1.2 Kappa VTVT [2016-2017]Vento Comfortline DieselCaptiva LTZ AWD ATEcosport Titanium + 1.5L TDCiA3 40 TFSI PremiumSuperb Style TSI ATAlturas G4 4WD AT [2018-2020]Carnival Limousine Plus 7 STRGLA 220 d Activity EditionSantro XO eRLX - Euro IIIScorpio S5Tigor Revotron XMInnova 2.5 G BS IV 8 STRA-Class A 180 Sport PetrolVento Highline 1.0L TSIA4 2.0 TDI TechnologyEon D-Lite +Evoque HSEAlto LXi CNG [2014-2018]Figo Titanium1.5 TDCiZest XE 75 PS DieselS-Cross Zeta 1.6Celerio X Vxi AMT [2017-2019]i10 Asta 1.2 AT Kappa2 with SunroofAlto VXi AMT [2014-2018]Seltos HTK Plus AT 1.5 Diesel [2020-2021]C-Coupe 43 AMG 4MATICXUV500 W10 AT 1.99Q5 40 TDI Premium PlusThar LX 4-STR Convertible Diesel ATCreta 1.4 SEstilo LXi BS-IVA6 35 TFSI MatrixPulse RxL ABS Diesel [2015-2017]Amaze 1.5 E i-DTECTerrano XL D THP 110 PSTiago Revotron XZAIgnis Delta 1.2 AMTPolo Highline Plus 1.0L TSIi10 Magna 1.2Xcent S 1.2Octavia Style 1.8 TSI ATAmaze 1.2 VX MT Petrol [2018-2020]XUV500 W8 AWDi10 Magna (O)S90 D4 InscriptionXcent S 1.1 CRDi (O)E-Class 200Polo 1.5 TDIC-Class 250 CDI AvantgardeEcosport Titanium + 1.5L TDCi [2019-2020]Kwid 1.0 RXL [2017-2019]Innova 2.5 V 7 STRDZire ZXi AGSAmeo Trendline 1.5L (D)SX4 VXiE-Class E200 CGI Blue EfficiencyWagon R LXiGrand i10 Magna U2 1.2 CRDiHarrier XT Plus Dark EditionC-Class C220d ProgressiveErtiga ZXI+Amaze 1.2 E MT Petrol [2018-2020]Vento Highline Diesel ATVento Highline Plus 1.6 (P)GLS 450 4MATICQ5 2.0 TDI quattro Technology PackQ5 3.0 TDI quattroVerna Fluidic 1.6 CRDi SX OptQ2 Premium 40 TFSI quattroCLA 200 CDI Sport (CBU)Etios 1.2 Gi10 Era 1.1 iRDE2 [2010-2017]Santro GL PlusBolero SLE BS IVBeat LT DieselXC40 T4 R-DesignVitara Brezza ZDi Plus AGSErtiga VXI ATAccord 2.4 ATErtiga ZXi ATCiaz Delta Hybrid 1.5 AT [2018-2020]Swift DZire VDii20 Asta 1.4 CRDIErtiga ZXi PlusBolero SLE BS IIIErtiga VXIi10 Sportz 1.2 ATInnova 2.5 ZX 7 STR BS-IVCiaz ZDi (O) [2014-2015]Ciaz S 1.4 MTHexa XM 4x2 7 STRVento Comfortline 1.6 (P)Elite i20 Asta 1.0 Turbo IMT Dual ToneA-Class Sedan 200Nexon XM Dieseli20 Sportz 1.2 BS-IVWrangler RubiconAmaze 1.2 S AT i-VTECAmaze 1.2 E i-VTECAmeo Highline1.2L (P) [2016-2018]Celerio ZXi AMTAura S 1.2 CNGDuster 85 PS Sandstorm Edition DieselJazz VX CVT PetrolEcosport Ambiente 1.5L Ti-VCTi20 Magna (O) 1.4 CRDIXUV500 W9 [2018-2020]i10 EraSuperb Sportline ATA4 35 TDI PremiumThar LX 4-STR Convertible Die

In [18]:
df['Location'].unique()

array(['Pune', 'Ludhiana', 'Lucknow', 'Mangalore', 'Mumbai', 'Coimbatore',
       'Bangalore', 'Delhi', 'Raipur', 'Kanpur', 'Patna', 'Vadodara',
       'Hyderabad', 'Yamunanagar', 'Gurgaon', 'Jaipur', 'Deoghar', 'Agra',
       'Goa', 'Warangal', 'Jalandhar', 'Noida', 'Ahmedabad', 'Mohali',
       'Navi Mumbai', 'Ghaziabad', 'Kolkata', 'Zirakpur', 'Nagpur',
       'Thane', 'Faridabad', 'Ranchi', 'Chandigarh', 'Amritsar',
       'Chennai', 'Udupi', 'Panvel', 'Jamshedpur', 'Aurangabad',
       'Rudrapur', 'Nashik', 'Varanasi', 'Salem', 'Dehradun', 'Valsad',
       'Haldwani', 'Dharwad', 'Surat', 'Indore', 'Karnal', 'Panchkula',
       'Mysore', 'Rohtak', 'Ambala Cantt', 'Samastipur', 'Unnao',
       'Purnea', 'Bhubaneswar', 'Kheda', 'Kollam', 'Meerut', 'Ernakulam',
       'Kharar', 'Mirzapur', 'Bhopal', 'Gorakhpur', 'Guwahati',
       'Allahabad', 'Muzaffurpur', 'Faizabad', 'Kota', 'Pimpri-Chinchwad',
       'Dak. Kannada', 'Ranga Reddy', 'Bulandshahar', 'Roorkee',
       'Siliguri'], dtype=object)

In [19]:
df['Max Torque'].unique()

array(['109 Nm @ 4500 rpm', '190 Nm @ 2000 rpm', '112.7619 Nm @ 4000 rpm',
       '113 Nm @ 4200 rpm', '343 Nm @ 1400 rpm', '130 Nm @ 4000 rpm',
       '300 Nm @ 1200 rpm', '400 Nm @ 1750 rpm', '250 Nm @ 1250 rpm',
       '200 Nm @ 1900 rpm', '115 Nm @ 4000 rpm', '91 Nm @ 4250 rpm',
       '138 Nm @ 4400 rpm', '350 Nm @ 1750 rpm', '175 Nm @ 1500 rpm',
       '90 Nm @ 3500 rpm', '69 Nm @ 3500 rpm', '154 Nm @ 4850 rpm',
       '153 Nm @ 3800 rpm', '99 Nm @ 4500 rpm', '172 Nm @ 1500 rpm',
       '78 Nm @ 3500 rpm', '113 Nm @ 4500 rpm', '110 Nm @ 4800 rpm',
       '265 Nm @ 1900 rpm', '170 Nm @ 1400 rpm', nan, '96 Nm @ 3000 rpm',
       '114 Nm @ 3500 rpm', '140 Nm @ 1800 rpm', '400 Nm @ 1400 rpm',
       '260 Nm @ 1500 rpm', '500 Nm @ 1600 rpm', '173 Nm @ 4000 rpm',
       '380 Nm @ 1750 rpm', '240@3000', '247 Nm @ 1800 rpm',
       '200 Nm @ 1750 rpm', '200 Nm @ 1200 rpm', '290 Nm @ 1800 rpm',
       '270 Nm @ 1350 rpm', '145 Nm @ 4600 rpm', '180 Nm @ 2000 rpm',
       '101 Nm @ 3000 rpm', '112 Nm @ 4000 rpm', '450 Nm @ 1600 rpm',
       '171.62 Nm @ 4300 rpm', '113 Nm @ 4400 rpm', '240 Nm @ 1500 rpm',
       '320 Nm @ 1750 rpm', '160 Nm @ 2000 rpm', '110 Nm @ 3750 rpm',
       '233 Nm @ 4100 rpm', '320 Nm @ 1500 rpm', '500@1600',
       '400 Nm @ 2800 rpm', '270 Nm @ 4500 rpm', '248 Nm @ 2250 rpm',
       '77 Nm @ 3500 rpm', '560 Nm @ 1500 rpm', '450 Nm @ 1340 rpm',
       '370 Nm @ 1300 rpm', '158 Nm @ 4200 rpm', '300 Nm @ 1500 rpm',
       '300 Nm @ 1250 rpm', '146@4600', '360 Nm @ 1400 rpm',
       '190 Nm @ 1750 rpm', '89@3000', '114 Nm @ 4000 rpm',
       '242 Nm @ 1500 rpm', '600 Nm @ 1500 rpm', '260 Nm @ 1900 rpm',
       '277@1700', '370 Nm @ 1600 rpm', '142 Nm @ 4000 rpm',
       '151 Nm @ 4850 rpm', '113.796 Nm @ 4000 rpm', '300 Nm @ 1750 rpm',
       '250 Nm @ 1500 rpm', '400 Nm @ 1600 rpm', '430 Nm @ 1750 rpm',
       '700 Nm @ 1800 rpm', '250 Nm @ 1600 rpm', '144 Nm @ 4400 rpm',
       '215@3600', '220 Nm @ 1500 rpm', '360 Nm @ 1750 rpm',
       '300 Nm @ 1600 rpm', '90@3500', '205 Nm @ 1750 rpm',
       '550 Nm @ 1750 rpm', '280 Nm @ 1800 rpm', '190@2000', '200@1400',
       '535@1600', '350 Nm @ 1500 rpm', '285 Nm @ 4000 rpm', '540@1600',
       '619 Nm @ 1600 rpm', '219.744 Nm @ 1500 rpm', '175 Nm @ 1750 rpm',
       '170 Nm @ 1750 rpm', '153 Nm @ 3750 rpm', '430 Nm @ 4000 rpm',
       '350 Nm @ 5000 rpm', '72 Nm @ 4386 rpm', '360 Nm @ 1200 rpm',
       '600 Nm @ 2000 rpm', '700 Nm @ 2250 rpm', '343@1400',
       '520 Nm @ 2000 rpm', '330 Nm @ 2800 rpm', '113 Nm @ 3300 rpm',
       '400 Nm @ 1500 rpm', '84@3500', '330 Nm @ 1600 rpm',
       '550 Nm @ 2750 rpm', '400@2000', '380 Nm @ 1800 rpm',
       '320 Nm @ 1700 rpm', '111@4000', '620 Nm @ 1600 rpm', '190@3000',
       '62@3000', '390 Nm @ 5600 rpm', '192 Nm @ 4000 rpm',
       '113 Nm @ 4000 rpm', '600 Nm @ 1600 rpm', '420 Nm @ 1750 rpm',
       '220@1400', '250 Nm @ 2500 rpm', '204 Nm @ 2000 rpm',
       '350 Nm @ 1450 rpm', '620 Nm @ 1500 rpm', '177 Nm @ 4700 rpm',
       '113@4500', '115@4500', '145 Nm @ 4300 rpm', '245 Nm @ 4000 rpm',
       '350 Nm @ 1600 rpm', '280 Nm @ 1600 rpm', '95 Nm @ 4000 rpm',
       '250@1500', '182@4000', '170 Nm @ 1800 rpm', '152 Nm @ 2200 rpm',
       '94 Nm @ 3500 rpm', '345 Nm @ 4500 rpm', '144 Nm @ 4500 rpm',
       '102 Nm @ 4000 rpm', '245@5000', '700 Nm @ 2000 rpm',
       '320 Nm @ 1600 rpm', '300 Nm @ 1400 rpm', '160 Nm @ 1500 rpm',
       '77@3500', '400 Nm @ 1700 rpm', '270 Nm @ 1750 rpm',
       '200 Nm @ 1400 rpm', '116@4750', '215 Nm @ 1750 rpm',
       '380 Nm @ 1950 rpm', '155 Nm @ 4200 rpm', '170@3500',
       '240 Nm @ 1600 rpm', '760 Nm @ 3000 rpm', '340 Nm @ 1750 rpm',
       '48@3000', '400 Nm @ 2000 rpm', '470 Nm @ 1750 rpm',
       '104 Nm @ 4000 rpm', '560 Nm @ 6500 rpm', '115 Nm @ 4200 rpm',
       '75 Nm @ 4000 rpm', '620 Nm @ 2000 rpm', '380 Nm @ 2500 rpm',
       '132 Nm @ 3000 rpm', '95 Nm @ 3000 rpm', '140 Nm @ 4400 rpm',
       '700 Nm @ 1200 rpm', '146 Nm @ 4800 rpm', '290@1800',
       '480 Nm @ 1500 rpm', '230 Nm @ 1500 rpm', '505 Nm @ 4400 rpm',
       '240 Nm @ 1850 rpm', '420 Nm @ 1600 rpm', '320 Nm @ 1650 rpm',
       '75@4000', '450 Nm @ 1750 rpm', '115 Nm @ 1500 rpm', '343 @1400',
       '500 Nm @ 1370 rpm', '280 Nm @ 1350 rpm', '104 Nm @ 4400 rpm',
       '191 Nm @ 4500 rpm', '320 Nm @ 1400 rpm', '380 Nm @ 2000 rpm',
       '323@2000', '160 Nm @ 1750 rpm', '225 Nm @ 1500 rpm',
       '224 Nm @ 1500 rpm', '99.081 Nm @ 4500 rpm', '195 Nm @ 1400 rpm',
       '250 Nm @ 150 rpm', '292 Nm @ 2000 rpm', '500 Nm @ 1400 rpm',
       '327@2600', '280 Nm @ 1250 rpm', '410@2000', '200 Nm @ 2000 rpm',
       '150 Nm @ 4500 rpm', '380 Nm @ 2150 rpm', '450 Nm @ 3500 rpm',
       '110 Nm @ 4000 rpm', '365 Nm @ 1500 rpm', '170 Nm @ 2400 rpm',
       '350@2400', '402 Nm @ 3000 rpm', '480@1750', '259 Nm @ 1900 rpm',
       '320 Nm @ 1450 rpm', '450 Nm @ 1500 rpm', '205 Nm @ 1800 rpm',
       '85 Nm @ 3500 rpm', '170@4200', '350@1750', '480 Nm @ 1750 rpm',
       '420 Nm @ 2000 rpm', '340 Nm @ 3250 rpm', '99.08 Nm @ 4500 rpm',
       '137@4200', '96 Nm @ 3500 rpm', '197 Nm @ 1750 rpm',
       '780 Nm @ 1500 rpm', '437 Nm @ 1800 rpm', '210 Nm @ 4200 rpm',
       '178 Nm @ 1750 rpm', '436 Nm @ 1800 rpm', '247@1800',
       '515 Nm @ 4250 rpm', '54 Nm @ 3000 rpm', '400 Nm @ 2750 rpm',
       '480 Nm @ 1360 rpm', '112@4000', '125 Nm @ 3500 rpm',
       '221 Nm @ 3600 rpm', '98 Nm @ 3000 rpm', '140 Nm @ 4200 rpm',
       '430 Nm @ 1400 rpm', '160@2000', '198 Nm @ 2800 rpm', '220@1750',
       '350 Nm @ 1800 rpm', '385 Nm @ 1600 rpm', '84 Nm @ 4500 rpm',
       '99@2800', '213 Nm @ 4500 rpm', '689 Nm @ 1800 rpm',
       '580 Nm @ 1750 rpm', '320@2000', '440 Nm @ 1750 rpm',
       '350 Nm @ 1400 rpm', '319 Nm @ 1500 rpm', '200 Nm @ 1250 rpm',
       '520 Nm @ 2500 rpm', '180 Nm @ 1750 rpm', '145@4200', '500@1500',
       '104 Nm @ 3100 rpm', '150 Nm @ 1750 rpm', '300 Nm @ 1300 rpm',
       '222 Nm @ 4300 rpm', '250 Nm @ 1620 rpm', '400 Nm @ 3000 rpm',
       '350 Nm @ 1250 rpm', '380 Nm @ 1200 rpm', '440 Nm @ 1500 rpm',
       '125 Nm @ 2000 rpm', '77@4500', '490 Nm @ 1800 rpm', '200@3400',
       '500 Nm @ 1800 rpm', '90 Nm @ 4200 rpm', '190 Nm @ 4300 rpm',
       '125@2700', '134 Nm @ 4000 rpm', '456@1400', '113 Nm @ 5000 rpm',
       '480 Nm @ 1600 rpm'], dtype=object)

In [20]:
df_drop = df.drop(['Model', 'Location','Engine', 'Max Power', 'Max Torque'], axis=1)

So I decided to delete all these columns because there are too many possibilities, and it is overwhelming for the model. The goal is to simplify the dataset to help the model focus on the most relevant features and improve its performance.

In [21]:
df_drop

,Make,Price,Year,Kilometer,Fuel Type,Transmission,Color,Owner,Seller Type,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,505000,2017,87150,Petrol,Manual,Grey,First,Corporate,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,450000,2014,75000,Diesel,Manual,White,Second,Individual,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,220000,2011,67000,Petrol,Manual,Maroon,First,Individual,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,799000,2019,37500,Petrol,Manual,Red,First,Individual,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,1950000,2018,69000,Diesel,Manual,Grey,First,Individual,RWD,4735.0,1830.0,1795.0,7.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,Mahindra,850000,2016,90300,Diesel,Manual,White,First,Individual,FWD,4585.0,1890.0,1785.0,7.0,70.0
2055,Hyundai,275000,2014,83000,Petrol,Manual,White,Second,Individual,FWD,3495.0,1550.0,1500.0,5.0,32.0
2056,Ford,240000,2013,73000,Petrol,Manual,Silver,First,Individual,FWD,3795.0,1680.0,1427.0,5.0,45.0
2057,BMW,4290000,2018,60474,Diesel,Automatic,White,First,Individual,RWD,4936.0,1868.0,1479.0,5.0,65.0
2058,Mahindra,670000,2017,72000,Diesel,Manual,White,First,Individual,RWD,3995.0,1745.0,1880.0,7.0,NaN

## Feature encoding

In [23]:
df_drop['Make'].unique()

array(['Honda', 'Maruti Suzuki', 'Hyundai', 'Toyota', 'Mercedes-Benz',
       'BMW', 'Skoda', 'Nissan', 'Renault', 'Tata', 'Volkswagen', 'Ford',
       'Audi', 'Mahindra', 'MG', 'Jeep', 'Porsche', 'Kia', 'Land Rover',
       'Volvo', 'Maserati', 'Jaguar', 'Isuzu', 'Fiat', 'MINI', 'Ferrari',
       'Mitsubishi', 'Datsun', 'Lamborghini', 'Chevrolet', 'Ssangyong',
       'Rolls-Royce', 'Lexus'], dtype=object)

In [25]:
df_encoded = pd.get_dummies(df_drop, 
                          columns=['Make', 'Fuel Type', 'Transmission','Color','Owner','Seller Type','Drivetrain'],
                          prefix=['mrq', 'Fuel', 'Transmission','Color','Owner','Seller Type','Drivetrain'])

In [26]:
df_encoded.shape

(2059, 81)

In [27]:
df_encoded.head()

,Price,Year,Kilometer,Length,Width,Height,Seating Capacity,Fuel Tank Capacity,mrq_Audi,mrq_BMW,...,Owner_Fourth,Owner_Second,Owner_Third,Owner_UnRegistered Car,Seller Type_Commercial Registration,Seller Type_Corporate,Seller Type_Individual,Drivetrain_AWD,Drivetrain_FWD,Drivetrain_RWD
0,505000,2017,87150,3990.0,1680.0,1505.0,5.0,35.0,False,False,...,False,False,False,False,False,True,False,False,True,False
1,450000,2014,75000,3995.0,1695.0,1555.0,5.0,42.0,False,False,...,False,True,False,False,False,False,True,False,True,False
2,220000,2011,67000,3585.0,1595.0,1550.0,5.0,35.0,False,False,...,False,False,False,False,False,False,True,False,True,False
3,799000,2019,37500,3995.0,1745.0,1510.0,5.0,37.0,False,False,...,False,False,False,False,False,False,True,False,True,False
4,1950000,2018,69000,4735.0,1830.0,1795.0,7.0,55.0,False,False,...,False,False,False,False,False,False,True,False,False,True

In [29]:
bool_columns = df_encoded.select_dtypes(include=['bool']).columns
df_encoded[bool_columns] = df_encoded[bool_columns].astype(int)

In [30]:
df_encoded.head()

,Price,Year,Kilometer,Length,Width,Height,Seating Capacity,Fuel Tank Capacity,mrq_Audi,mrq_BMW,...,Owner_Fourth,Owner_Second,Owner_Third,Owner_UnRegistered Car,Seller Type_Commercial Registration,Seller Type_Corporate,Seller Type_Individual,Drivetrain_AWD,Drivetrain_FWD,Drivetrain_RWD
0,505000,2017,87150,3990.0,1680.0,1505.0,5.0,35.0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,450000,2014,75000,3995.0,1695.0,1555.0,5.0,42.0,0,0,...,0,1,0,0,0,0,1,0,1,0
2,220000,2011,67000,3585.0,1595.0,1550.0,5.0,35.0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,799000,2019,37500,3995.0,1745.0,1510.0,5.0,37.0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,1950000,2018,69000,4735.0,1830.0,1795.0,7.0,55.0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [35]:
df_encoded['Year'] = pd.to_datetime(df_encoded['Year'])

In [36]:
df_encoded['Year'].dtypes

dtype('<M8[ns]')