# Data analysis project :  Forbes Highest Paid Athletes 1990-2020

## Introduction

In this project, I apply my knowledge of data analysis to explore the Forbes highest-paid athletes between the years 1990 and 2020. The dataset is sourced from Kaggle, and the objective of this project is purely educational, aimed at enhancing my data analysis skills.

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
# Read in the data
dataframe = pd.read_csv('Dataset/Forbes Richest Atheletes (Forbes Richest Athletes 1990-2020).csv')

In [3]:
#We display key information about the dataset 
dataframe.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0

In [4]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.NO                  301 non-null    int64
 1   Name                  301 non-null    object
 2   Nationality           301 non-null    object
 3   Current Rank          301 non-null    int64
 4   Previous Year Rank    277 non-null    object
 5   Sport                 301 non-null    object
 6   Year                  301 non-null    int64
 7   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB

In [5]:
dataframe.shape

(301, 8)

In [6]:
dataframe.describe()

             S.NO  Current Rank         Year  earnings ($ million)
count  301.000000    301.000000   301.000000            301.000000
mean   151.000000      5.448505  2005.122924             45.516279
std     87.035433      2.850995     9.063563             33.525337
min      1.000000      1.000000  1990.000000              8.100000
25%     76.000000      3.000000  1997.000000             24.000000
50%    151.000000      5.000000  2005.000000             39.000000
75%    226.000000      8.000000  2013.000000             59.400000
max    301.000000     10.000000  2020.000000            300.000000

## 1. Data cleaning

### Handling Missing Values

In [7]:
#We display the sum of Missing Values
dataframe.isna().sum()

S.NO                     0
Name                     0
Nationality              0
Current Rank             0
Previous Year Rank      24
Sport                    0
Year                     0
earnings ($ million)     0
dtype: int64

In [8]:
#Display all rows with NaN values
dataframe[dataframe.isna().any(axis=1)]

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
5,6,Jack Nicklaus,USA,6,NaN,golf,1990,8.6
6,7,Greg Norman,Australia,7,NaN,golf,1990,8.5
7,8,Michael Jordan,USA,8,NaN,basketball,1990,8.1
8,9,Arnold Palmer,USA,8,NaN,golf,1990,8.1
9,10,Evander Holyfield,USA,8,NaN,boxing,1990,8.1
80,81,Michael Jordan,USA,1,NaN,Basketball,1998,69.0
81,82,Michael Schumacher,Germany,2,NaN,F1 Motorsports,1998,38.0
82,83,Sergei Federov,Russia,3,NaN,Ice Hockey,1998,29.8
83,84,Tiger Woods,USA,4,NaN,Golf,1998,26.8
84,85,Dale Earnhardt,USA,5,NaN,NASCAR,1998,24.1
85,86,Grant Hill,USA,6,NaN,Basketball,1998,21.6
86,87,Oscar De La Hoya,USA,7,NaN,Boxing,1998,18.5
87,88,Patrick Ewing,USA,8,NaN,Basketball,1998,18.3
88,89,Arnold Palmer,USA,9,NaN,Golf,1998,18.1
89,90,Gary Sheffield,USA,10,NaN,Baseball,1998,17.2
266,267,Andrew Luck,USA,6,NaN,American Football,2017,50.0
268,269,Stephen Curry,USA,8,NaN,Basketball,2017,47.3
269,270,James Harden,USA,9,NaN,Basketball,2017,46.6
270,271,Lewis Hamilton,UK,10,NaN,auto racing,2017,46.0

The 'Previous Year Rank' column is not pertinent to the analysis of the highest-paid athletes, so it can be safely removed to streamline the dataset.

In [9]:
#We delete the columns 
dataframe.drop("Previous Year Rank", axis=1, inplace=True)

In [15]:
dataframe.columns

Index(['S.NO', 'Name', 'Nationality', 'Current Rank', 'Sport', 'Year',
       'earnings ($ million)'],
      dtype='object')

### Data Type Correction

In [19]:
#Display all columns types
dataframe.dtypes

S.NO                      int64
Name                     object
Nationality              object
Current Rank              int64
Sport                    object
Year                      int64
earnings ($ million)    float64
dtype: object

In [24]:
#Display the memory usage
dataframe.memory_usage().sum()

16988

In [29]:
#Transform columns to date types
dataframe["Year"] = pd.to_datetime(dataframe['Year'], format='%Y')